<% unless @error %>
<table class="table table-hover">
    <thead>
        <th width="30%">Name</th>
        <th width="70%">Description</th>
    </thead>
    <tbody>
        <% GDash::Dashboard.each do |dashboard| %>
        <tr>
            <td><a href="<%= dashboard_path(dashboard) %>"><%= dashboard.title %></a></td>
            <td><%= dashboard.description %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>
