- unless @error
  %table.table.table-hover
    %thead
      %th{ :width => "30%" } Name
      %th{ :width => "70%" } Description
    %tbody
      - GDash::Dashboard.toplevel.sort.each do |dashboard|
        %tr
          %td
            %a{ :href => dashboard_path(dashboard) }= dashboard.title
          %td= dashboard.description