!!! 5

%html{ :lang => "en" }
  %head
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "/css/gdash.css", :rel => "stylesheet" }
    %script{ :src => "/js/jquery-1.8.1.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    %title GDash
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        %a.brand{ :href => dashboards_path } GDash
        %ul.nav.pull-right
          - if @dashboard.present?
            %li
              %a{ :href => "#" }
                %i.icon-share.icon-white
          %li
            %a{ :href => "/snapshot", :class => "snapshot" }
              %i.icon-download-alt.icon-white
          %li
            %a{ :href => docs_path } Documentation
    .container-fluid
      .row-fluid
        .span2= doc_nav @doc
        .span10= yield
    .container-fluid
      %h6
        Updated
        = Time.now
