!!! 5

%html{ :lang => "en" }
  %head
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
    %script{ :src => "/js/jquery-1.8.1.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    - if @dashboard
      %title= @dashboard.title
      %meta{ "http-equiv" => "refresh", :content => @dashboard.refresh }
    - else
      %title GDash
    :css
      .modal { max-height: 800px; max-width: 600px; }
  %body{ :style => "padding-top: 50px;" }
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        %a.brand{ :href => dashboards_path } GDash
        %ul.nav
          - if @dashboard.present?
            %li= dashboard_nav @dashboard
        %ul.nav.pull-right
          - if @dashboard.present?
            %li
              %a{ :href => "#" }
                %i.icon-share.icon-white
          %li
            %a{ :href => docs_path } Documentation
    .container-fluid
      = yield
    .container-fluid
      %h6
        Updated
        = Time.now
